{% extends "qabase.html" %}

{% block body %}
<h3>Per-Fiber per-camera QA metrics</h3>

 {% if FIBERNUM_PLOTS %}
 <ul class="navigationbar">
   <li style="float:right"><a id="fibernum_plots"
     href="qa-camfiber-{{ zexpid }}.html">FIBERNUM Plots</a></li>
 </ul>
 {% endblock %}

 {% if FOCALPLATE_PLOTS %}
 <ul class="navigationbar">
   <li style="float:right"><a id="focalplate_plots"
     href="qa-camfiber-{{ zexpid }}.html/focalplate_plots">FOCALPLATE Plots</a></li>
 </ul>
 {% endblock %}

{# Each plot is wrapped in if/endif for robustness against missing plots #}

{% if AGGFIB_PLOTS %}
    <div>
        {{ AGGFIB_PLOTS.script }} {{ AGG_PLOTS.div }}
    </div>
{% endif %}


{% endblock %}
