{% extends "qabase.html" %}

{% block body %}
<h3>Per-Fiber per-camera QA metrics</h3>

 {% if FOCALPLATE_PLOTS %}
 <ul class="navigationbar">
   <li style="float:right"><a id="focalplane_plots"
     href="qa-camfiber-{{ zexpid }}.html">FOCAL PLANE Plots</a></li>
 </ul>
 {% endblock %}

{# Each plot is wrapped in if/endif for robustness against missing plots #}

{% if FIBERNUM_PLOTS %}
    <div>
        {{ FIBERNUM_PLOTS.script }} {{ FIBERNUM_PLOTS.div }}
    </div>
{% endif %}


{% endblock %}
