{% extends "base.html" %}

{% block body %}

{# Each plot is wrapped in if/endif for robustness against missing plots #}

{% if READNOISE %}
    <h3>CCD Read Noise</h3>
    <div>{{ READNOISE.script }} {{ READNOISE.div }}</div>
{% endif %}

{% if RAWFLUX %}
    <h3>Per-fiber integrated raw counts</h3>
    <div>{{ RAWFLUX.script }} {{ RAWFLUX.div }}</div>
{% endif %}

{% if CALIBFLUX %}
    <h3>Per-fiber sky-subtracted flux-calibrated integrated flux</h3>
    <div>{{ CALIBFLUX.script }} {{ CALIBFLUX.div }}</div>
{% endif %}

{% endblock %}