{% extends "base.html" %}
{% block body %}

{# Each plot is wrapped in if/endif for robustness against missing plots #}
<div class="container">
    <div class="calendar"></div>
</div>

<script>
$(function() {

    var list = {};
    {% for night in nights %}
        list[(new Date({{night["year"]}}, {{night["month"]}}, {{night["day"]}}))] = 1;
    {% endfor %}

    $('.calendar').calendar({
        customDayRenderer: function(element, date) {
        if (date in list) {
            $(element).css('background-color', 'green');
            $(element).css('color', 'white');
            $(element).css('border-radius', '10px');
            $(element).css('opacity', '0.6');
        }
        },
        dataSource: [
	{% for night in nights %}
	    {
	    id : {{loop.index}},
	    name : "{{night['name']}}/exposures.html",
	    startDate : new Date({{night["year"]}}, {{night["month"]}}, {{night["day"]}}),
	    endDate : new Date({{night["year"]}}, {{night["month"]}}, {{night["day"]}}),
	    color : 'white'
	    }
	{% endfor %}
        ],
        clickDay: function(e) {
        if(e.events.length > 0) {
        window.open(e.events[0].name);
        }
        },
    });
});
</script>

{% endblock %}
