{% extends "qabase.html" %}
{% block body %}

<link
    href="https://cdn.pydata.org/bokeh/release/bokeh-{{version}}.min.css"
    rel="stylesheet" type="text/css"
>
<script
    src="https://cdn.pydata.org/bokeh/release/bokeh-{{version}}.min.js"
></script>

<style>
label {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: right;
  width: 400px;
  line-height: 26px;
  margin-bottom: 10px;
}

input {
  height: 20px;
  flex: 0 0 200px;
  margin-left: 10px;
}

table {
  border-collapse: collapse;
}

.container{
  display: flex;
}
.flex-item{
  flex-grow: 1;
}
</style>
<div class="container">
  <div class=flex-item>
    <div>{{plot_script}} {{plot_div}}</div>
  </div>
  <div class=flex-item>
    <br>
    <table border="1" cellpadding="8">
  {% for c in ["b", "r", "z"] %}
  <tr>
    {% for i in ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9"] %}
    <td {% if c + i == current %} bgcolor="#6495ed" {% endif %}>
      {% if (c+i != current) and (c+i in available) %}
    <a href="preproc-{{c}}{{i}}-{{zexpid}}-{{downsample}}x.html">
      {% endif %}
      <font size="6">
        <text {% if c + i in available %} style="font-weight:bold" {% endif %}>{{c}}{{i}}<text>
      </font>
      {% if (c+i != current) and (c+i in available) %}
    </a>
      {% endif %}
    </td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>
<br>
<div>Downsample: <input size="4" type="number" id = "down" value={{downsample}}></div>
<button onclick='
    var url = "{{basename}}-" + document.getElementById("down").value + "x.html"
    window.open(url, "_top")
    '>Generate</button>
  </div>
</div>
{% endblock %}
