<html>
<link
    href="https://cdn.pydata.org/bokeh/release/bokeh-{{version}}.min.css"
    rel="stylesheet" type="text/css"
>
<link
    href="https://cdn.pydata.org/bokeh/release/bokeh-tables-{{version}}.min.css"
    rel="stylesheet" type="text/css"
    >
<script
    src="https://cdn.pydata.org/bokeh/release/bokeh-{{version}}.min.js"
></script>

<script src="https://cdn.pydata.org/bokeh/release/bokeh-tables-{{version}}.min.js"
></script>

<body>
    <div>{{plot_script}} {{plot_div}}</div>
    <div>Downsample: <input size="4" type="number" id = "down" value={{downsample}}></div>
    <button onclick='
        var url = "{{basename}}-" + document.getElementById("down").value + "x.html"
        window.open(url, "_top")
        '>Generate</button>
</body>
</html>

