{% extends "base.html" %}

{% block navigation %}
<ul class="navigationbar">
  <li style="float:left"><a>QA {{ night }}/{{ expid }}</a></li>
  <li style="float:left"><a id="prev">prev</a></li>
  <li style="float:left"><a id="next">next</a></li>
  <li style="float:left"><a href="../../qa-lastexp.html">last</a></li>
  <li><a id="spectro">spectro</a></li>
  <li class="dropdown"><a id="camfiber" href = "qa-camfiber-{{ zexpid }}.html">camfiber</a>
      <ul class="dropdown-content">
        <a id="camfiber" href="qa-camfiber-{{ zexpid }}.html">fibernum</a>
        <a id="focalplate" href="qa-camfiber-{{ zexpid }}-focalplate_plots.html">focalplate</a>
      </ul>
  </li>   
  <li><a id="fiber">fiber</a></li>
  <li><a id="camera" href="qa-camera-{{ zexpid }}.html">camera</a></li>
  <li><a id="amp" href="qa-amp-{{ zexpid }}.html">amp</a></li>
  <li><a id="summary" href="qa-summary-{{ zexpid }}.html">summary</a></li>
  <li><a id="exposures" href="../exposures.html">exposures</a></li>
  <li><a id="nights" href = "../../nights.html">nights</a></li>
</ul>
<p>{{ exptime }} second {{ flavor }} ({{ program }})</p>

<script>
/* this works, but why?  get_explinks is also defined in explinks*.js */
function get_explinks(links) {
    var next_prev = links["{{ zexpid }}"]

    var next_item = next_prev.next;
    if (next_item == null) {
        document.getElementById("next").className = "noHover";
    } else {
        document.getElementById("next").href =
            "../../"+next_item.night+"/"+next_item.zexpid+"/qa-{{ qatype }}-"+next_item.zexpid+".html";
    }

    var prev_item = next_prev.prev;
    if (prev_item == null) {
        document.getElementById("prev").className = "noHover";
    } else {
        document.getElementById("prev").href =
            "../../"+prev_item.night+"/"+prev_item.zexpid+"/qa-{{ qatype }}-"+prev_item.zexpid+".html";
    }
}
</script>
<script src="../explinks-{{ night }}.js"></script>

<script>
document.getElementById("{{ qatype }}").className = "current_page";
</script>

{% endblock %}

{% block body %}
{% endblock %}
