{% extends "base.html" %}

{% block navigation %}
<ul class="navigationbar">
  <li style="float:left"><a id="nights" href =
    "/nights.html">nights</a></li>
  <li style="float:left"><a>QA {{ night }}/{{ expid }}</a></li>
  <li style="float:left"><a id="prev">prev</a></li>
  <li style="float:left"><a id="next">next</a></li>
  <li style="float:left"><a href="../../qa-lastexp.html">last</a></li>
  <li><a id="spectro">spectro</a></li>
  <li class="dropdown"><a id="camfiber" href = "qa-camfiber-{{ zexpid }}.html">camfiber</a>
      <ul class="dropdown-content">
        <a id="camfiber" href="qa-camfiber-{{ zexpid }}.html">fibernum</a>
        <a id="focalplate" href="qa-camfiber-{{ zexpid }}-focalplate_plots.html">focalplate</a>
      </ul>
  </li>
  <li><a id="fiber">fiber</a></li>
  <li><a id="camera" href="qa-camera-{{ zexpid }}.html">camera</a></li>

  <li class="dropdown"><a id="amp" href = "qa-amp-{{ zexpid }}.html">amp</a>
      <ul class="dropdown-content">
        <a id="amp" href="qa-amp-{{ zexpid }}.html">amp</a>
        <a id="preproc_table" href="qa-amp-{{ zexpid }}-preproc_table.html">preproc</a>
      </ul>
  </li>
  <li><a id="summary" href="qa-summary-{{ zexpid }}.html">summary</a></li>
  <li><a id="exposures" href="/{{night}}/exposures.html">exposures</a></li>
</ul>
{% if exptime %}
<p>{{ exptime }} second {{ flavor }} ({{ program }})</p>
{% endif %}

<script>
/* this works, but why?  get_explinks is also defined in explinks*.js */
function get_explinks(links) {
    var next_prev = links["{{ zexpid }}"]
    //var path = require('path');

    var next_item = next_prev.next;
    if (next_item == null) {
        document.getElementById("next").className = "noHover";
    } else {
        document.getElementById("next").href =
        {% if preproc %}
          "../../"+next_item.night+"/"+next_item.zexpid+"/preproc-{{current}}-"+next_item.zexpid+"-{{downsample}}x.html";
        {% elif spectra and input %}
        "../../../../../../../"+next_item.night+"/"+next_item.zexpid+"/spectra/{{view}}/{{frame}}/{{select_str}}/{{downsample}}x/".toLowerCase();;
        {% elif spectra %}
        "../../../../../../"+next_item.night+"/"+next_item.zexpid+"/spectra/{{view}}/{{frame}}/{{downsample}}x/".toLowerCase();;
        {% elif input and not spectra %}
        "../../../../"+next_item.night+"/"+next_item.zexpid+"/input/";
        {% else %}
          "../../"+next_item.night+"/"+next_item.zexpid+"/qa-{{ qatype }}-"+next_item.zexpid+".html";
        {% endif %}
    }

    var prev_item = next_prev.prev;
    if (prev_item == null) {
        document.getElementById("prev").className = "noHover";
    } else {
        document.getElementById("prev").href =
        {% if preproc %}
          "../../"+prev_item.night+"/"+prev_item.zexpid+"/preproc-{{current}}-"+prev_item.zexpid+"-{{downsample}}x.html";
        {% elif spectra and input %}
        "../../../../../../../"+prev_item.night+"/"+prev_item.zexpid+"/spectra/{{view}}/{{frame}}/{{select_str}}/{{downsample}}x/".toLowerCase();;
        {% elif spectra %}
        "../../../../../../"+prev_item.night+"/"+prev_item.zexpid+"/spectra/{{view}}/{{frame}}/{{downsample}}x/".toLowerCase();;
        {% elif input and not spectra %}
        "../../../../"+prev_item.night+"/"+prev_item.zexpid+"/input/";
        {% else %}
          "../../"+prev_item.night+"/"+prev_item.zexpid+"/qa-{{ qatype }}-"+prev_item.zexpid+".html";
        {% endif %}
    }
}
</script>

{% if spectra and input %}
<script src="../../../../../../explinks-{{ night }}.js"></script>
{% elif spectra %}
<script src="../../../../../explinks-{{ night }}.js"></script>
{% elif input and not spectra %}
<script src="../../explinks-{{ night }}.js"></script>
{% else %}
<script src="../explinks-{{ night }}.js"></script>
{% endif %}

<script>
document.getElementById("{{ qatype }}").className = "current_page";
</script>

{% endblock %}

{% block body %}
{% endblock %}
