{% extends "qabase.html" %}


{% block body %}
{# Rendering arguments: spectra(.script, .div) #}
<style>
label {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}
header {
  font-weight:bold;
  font-size: 25px;
}
</style>

{% if spectra %}
<header>
  <font face="arial">
  {{view}} spectra plot of {{frame}}-*-{{expid}}.fits files
  </font>
</header>

    <div class=flex-item>{{ spectra.script }} {{ spectra.div }}</div>
{% endif %}
<br>
{% if input %}
<label> Fibers:
    <input type="text" id="fibs" size=40 {% if select_str %} value="{{select_str}}" {% endif %} >
</label>

<label> Frame:
  <form id="frame">
    <input type="radio" name="frame" value="qframe" {% if frame=="qframe"%} checked="yes" {% endif%}/> qframe<br />
    <input type="radio" name="frame" value="qcframe"  {% if frame=="qcframe"%} checked="yes" {% endif%}/> qcframe<br />
  </form>
</label>

<label> Downsample:
    <input type="int" id="down" size=4 {% if downsample %} value="{{downsample}}" {% endif %} >
</label>

<button onclick='
{% if select_str %}
  var radios = document.getElementsByName("frame");

  for (var i = 0, length = radios.length; i < length; i++)
  {
   if (radios[i].checked)
   {
    var url = "../../../" + document.getElementById("fibs").value + "/" +  radios[i].value + "/" + document.getElementById("down").value + "x"
    break;
   }
  }
{% else %}
var radios = document.getElementsByName("frame");

for (var i = 0, length = radios.length; i < length; i++)
{
 if (radios[i].checked)
 {
  var url = document.getElementById("fibs").value + "/" +  radios[i].value + "/" + document.getElementById("down").value + "x"
  break;
 }
}
{% endif %}
  window.open(url, "_top")
'>Generate Spectra
</button>

{% if not select_str %}
<p>eg: "1, 3-5" plots fibers [1, 3, 4, 5]</p>
{% endif %}

{% else %}

<button onclick='
  window.open("../../{% if frame=="qframe" %}qcframe{% else %}qframe{% endif %}/{{ downsample }}x", "_top")
'>Generate with {% if frame=="qframe" %}qcframe{% else %}qframe{% endif %} (if avaliable):
</button>

{% endif %}

{% endblock %}
