{% extends "qabase.html" %}

{% block body %}

{# Each plot is wrapped in if/endif for robustness against missing plots #}

<div class="flex-container">

{% if READNOISE %}
    <div>{{ READNOISE.script }} {{ READNOISE.div }}</div>
{% endif %}

{% if RAWFLUX %}
    <div>{{ RAWFLUX.script }} {{ RAWFLUX.div }}</div>
{% endif %}

{% if CALIBFLUX %}
    <div>{{ CALIBFLUX.script }} {{ CALIBFLUX.div }}</div>
{% endif %}

{% if SPECTRA %}
    <div>{{ SPECTRA.script }} {{ SPECTRA.div }}</div>
{% endif %}

</div>

{% endblock %}