{% extends "base.html" %}

{% block body %}

{# Rendering arguments: attribute, start, end, timeseries(.script, .div) #}

<style>
label {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: right;
  width: 400px;
  line-height: 26px;
  margin-bottom: 10px;
}

input {
  height: 20px;
  flex: 0 0 200px;
  margin-left: 10px;
}

.container{
  display: flex;
}
.flex-item{
  flex-grow: 1;
}
</style>

<button onclick='
  var url = "../../../../../nights.html"

  window.open(url, "_top")
'>Nights</button>

<header><strong>{{attribute}} Timeseries from {{start}} to {{end}} (inclusive)</strong></header>

<div class="container">
{% if timeseries %}
    <div class=flex-item>{{ timeseries.script }} {{ timeseries.div }}</div>
{% endif %}
<script src="../../../../cal_files/jquery_min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
  $( function() {
    $( "#start" ).datepicker({ dateFormat: 'yymmdd' });
    $( "#end" ).datepicker({ dateFormat: 'yymmdd' });
  } );
</script>
<div class=flex-item>
<label>start date: <input type="number" id = "start" value = {{start}}></label>
<label>end date: <input type="number" id = "end" value = {{end}}></label>
<label>hdu:
<select id = "hdu" onchange="changed(this.value)">
  {% for hdu_ in dropdown_hdu %}
  {% if hdu == hdu_ %}
  <option value={{hdu_}} selected="selected">{{hdu_}}</option>
  {% else %}
  <option value={{hdu_}}>{{hdu_}}</option>
  {% endif %}
  {% endfor %}
</select>
</label>
<label>data column:
<select id = "attribute">
  {% for attr_ in dropdown_hdu[hdu] %}
  {% if attr_ == attribute %}
  <option value={{attr_}} selected="selected">{{attr_}}</option>
  {% else %}
  <option value={{attr_}}>{{attr_}}</option>
  {% endif %}
  {% endfor %}
</select>
</label>
<button style="margin-left: 260px;" onclick='
  var url = "../../../" + document.getElementById("start").value + "/" + document.getElementById("end").value + "/" +  document.getElementById("hdu").value + "/" +  document.getElementById("attribute").value
  window.open(url, "_top")
'>Generate Timeseries</button>
</div>
<script>
function changed(new_val) {
  {% for hdu_ in dropdown_hdu %}
  if(new_val == '{{hdu_}}') {
    $('#attribute').empty();
    {% for attr_ in dropdown_hdu[hdu_] %}
    $('#attribute').append($('<option></option>').attr('value', '{{attr_}}').text('{{attr_}}'));
    {% endfor %}
  }
  {% endfor %}
}
</script>

{% endblock %}
