Flask==2.0.*
bokeh==2.4.*
pandas==1.5.*
uWSGI==2.0.21.*
astropy==5.0.*
scipy==1.7.*
numpy==1.22.*
healpy
fitsio==1.1.*
git+https://github.com/desihub/desiutil.git@3.2.5#egg=desiutil
git+https://github.com/desihub/desimodel.git@0.17.0#egg=desimodel
git+https://github.com/desihub/desitarget.git@2.4.0#egg=desitarget
