{% extends "camfiber.html" %}

{% block plot_type %}
<p><strong>CamFiber QA metrics vs. x,y location on the focal plane</strong></p>
<p>Click on a tab to view a metric. Access help with the (?) button.</p>
<p>QA instructions: arcs and flats include raw metrics. Science spectra include
calibrated versions.<br />In science spectra, note unusual features such as radial
patterns or blobs in the calibrated flux or SNR.</p>

{% if TILEID %}
  <p><a href="https://www.legacysurvey.org/viewer-desi?ra={{ SKYRA }}&dec={{ SKYDEC }}&layer=ls-dr9&zoom=8&desifoot={{ SKYRA }},{{ SKYDEC }}" target="_blank">Tile {{ TILEID }} position in the Legacy Survey Viewer</a>.</p>
{% endif %}

{% endblock %}
