{% extends "qabase.html" %}

{% block body %}
<div>In guide plots below, x errors (in guide star position) are in shades of blue, while y errors (in guide star position) are in shades of red. Each guide star (0-3) has a corresponding shade of blue and red. Mouse over each line to display numerical data.</div>

{# Each plot is wrapped in if/endif for robustness against missing plots #}

{% if PER_FRAME_GUIDE %}
    <div>{{ PER_FRAME_GUIDE.script }} {{ PER_FRAME_GUIDE.div }}</div>
{% endif %}

{% endblock %}