{% extends "base.html" %}

{% block body %}

<style>
label {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: right;
  width: 400px;
  line-height: 26px;
  margin-bottom: 10px;
}

input {
  height: 20px;
  flex: 0 0 200px;
  margin-left: 10px;
}

table {
  border-collapse: collapse;
}

.container{
  display: flex;
}
.flex-item{
  flex-grow: 1;
}
</style>

<ul class="titlebar">
  <li><a>Nightwatch: History Plots</a></li>
</ul>
<ul class="navigationbar">
  <li style="float:left"><a href="../nights.html">Calendar</a></li>
  <li style="float:left"><a href="history.html">HistoryQA</a></li>
  <li style="float:left"><a href="https://data.desi.lbl.gov/desi/spectro/redux/daily/nightqa/" target="_blank">SurveyQA</a></li>
  <li style="float:left"><a href="https://desi.lbl.gov/trac/wiki/DESIOperations/NightWatch/NightWatchDescription" target="_blank">Nightwatch Help</a></li>
</ul>

{# Each plot is wrapped in if/endif for robustness against missing plots #}
<script>
    function get_nightlinks(dict) {
        var next_prev = dict["{{night}}"];
        var next_item = next_prev.next_n;
        if (next_item==null) {
            document.getElementById("next").className = "noHover";
        } else {
            document.getElementById("next").href = next_item;
        }
        var prev_item = next_prev.prev_n;
        if (prev_item==null) {
            document.getElementById("prev").className = "noHover";
        } else {
            document.getElementById("prev").href = prev_item;
        }
    }
</script>
<script src="../nightlinks.js"></script>

{# Index page for all history plots #}
{% if HISTORY_INDEX %}
  <div style="max-width:800px">
    <h1>History Plots</h1>

    <h2>Calibrations</h2>

    <p>DESI is calibrated using artificial light sources with the dome closed. The measurements include:</p>
    <ul>
      <li>5 exposures of 5 s with all arc lamps (Hg, Ar, Cd, Ne, Xe, Kr),</li>
      <li>5 exposures of 30 s with the Cd and Xe arc lamps,</li>
      <li>4 series of three 120 s exposures with LED arrays.</li>
    </ul>
    <p> Details are provided in <a href="https://iopscience.iop.org/article/10.3847/1538-3881/acb212#ajacb212s4-6">J.  Guy et al., AJ 165:144, 2023</a>.  Significant outlier measurements can occur due to burned-out lamps, issues pointing the telescope to the white spot in the dome (Dec. 2023 and Jan. 2024), or the presence of stray light.</p>

    <h3>LED Flat Field Data</h3>
    <p>Nightly flat-fielding using an array of LEDs illuminating the interior of the dome. A known anticorrelation in LED fluxes with air temperature is left uncorrected in the plots.</p>
    <ul>
      <li><a href="history-flats-leds-00.html">FLAT : CALIB DESI-CALIB-00 LEDs only</a></li>
      <li><a href="history-flats-leds-01.html">FLAT : CALIB DESI-CALIB-01 LEDs only</a></li>
      <li><a href="history-flats-leds-02.html">FLAT : CALIB DESI-CALIB-02 LEDs only</a></li>
      <li><a href="history-flats-leds-03.html">FLAT : CALIB DESI-CALIB-03 LEDs only</a></li>
    </ul>

    <h3>Arc Lamp Data</h3>
  </div>
{% endif %}

{# Template page for calibration LEDs (FLAT obstype) #}
{% if FLATS %}
    <p> {{obstype}} : {{program}} </p>
    <div>{{ FLATS.script | safe }} {{ FLATS.div | safe }}</div>
{% endif %}

{# Template page for CCD QA (read noise, bias, cosmic rate) #}
{% if CCD %}
  <p> CCD QA for {{camera}}{{spectrograph}} </p>

  <div class="container">
    {# CCD QA plots #}
    <div class=flex-item>{{ CCD.script | safe }} {{ CCD.div | safe }}</div>

    {# Table of links to different CCD QA plots #}
    <div class=flex-item style="padding-right:10px">
      <br>
      <table border="1" cellpadding="8">
        <tr>
        {% for i in ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9"] %}
          {% for c in ["b", "r", "z"] %}
            <td {% if c + i == current %} bgcolor="#6495ed" {% endif %}>
              <a href="history-ccd-{{c}}{{i}}.html">
              <text style="font-weight:bold">{{c}}{{i}}</text>
              </a>
            </td>
          {% endfor %}
        </tr>
        {% endfor %}
      </table>
      <br>
    </div>

  </div>
{% endif %}

{% endblock %}
