{% extends "base.html" %}

{% block navigation %}
<ul class="titlebar">
  <li><a>Nightwatch: QA summary of latest exposure night {{ night }} expid {{ expid }}</a></li>
</ul>

<ul class="navigationbar">
  {# Left side navigations links (from left to right)#}
  <li style="float:left"><a id="nights" href = "nights.html">calendar</a></li>
  <li style="float:left"><a id="exposures" href="{{ night }}/exposures.html">exposures</a></li>

  {# Right side navigations links (from right to left)#}
  <li class="dropdown"><a id="camfiber" href = "{{ night }}/{{ zexpid }}/qa-camfiber-{{ zexpid }}.html">camfiber</a>
      <ul class="dropdown-content">
        <a id="camfiber" href="{{ night }}/{{ zexpid }}/qa-camfiber-{{ zexpid }}.html">fibernum</a>
        <a id="focalplate" href="{{ night }}/{{ zexpid }}/qa-camfiber-{{ zexpid }}-focalplane_plots.html">focalplane</a>
      </ul>
  </li>
  <li><a id="camera" href="{{ night }}/{{ zexpid }}/qa-camera-{{ zexpid }}.html">camera</a></li>
  <li><a id="amp" href="{{ night }}/{{ zexpid }}/qa-amp-{{ zexpid }}.html">ccd</a></li>
  <li><a id="summary" href="{{ night }}/{{ zexpid }}/qa-summary-{{ zexpid }}.html">summary</a></li>
</ul>
<p>{{ exptime }} second {{ flavor }} ({{ program }})</p>
{% endblock %}

{% block body %}

{#
<p>
Last exposure {{ night }}/{{ expid }}: {{ exptime }} sec {{ flavor }} ({{ program }})
</p>
#}

{# Each plot is wrapped in if/endif for robustness against missing plots #}

<div class="flex-container">

{% if READNOISE %}
    <div>{{ READNOISE.script }} {{ READNOISE.div }}</div>
{% endif %}

{% if RAWFLUX %}
    <div>{{ RAWFLUX.script }} {{ RAWFLUX.div }}</div>
{% endif %}

{% if CALIBFLUX %}
    <div>{{ CALIBFLUX.script }} {{ CALIBFLUX.div }}</div>
{% endif %}

{% if SPECTRA %}
    <div>{{ SPECTRA.script }} {{ SPECTRA.div }}</div>
{% endif %}

</div>

{% endblock %}