{% extends "base.html" %}

{% block body %}

<style>
    body {
        margin: 0;
    }
    .header {
        font-family: "Open Serif", Arial, Helvetica, sans-serif;
        background-color: #f1f1f1;
        padding: 10px;
        text-align: center;
        justify: space-around;
    }
    .column {
        float: center;
        padding: 10px
    }
    .column.side {
        width = 5%;
    }
    .column.middle {
        width = 90%;
    }
    .flex-container {
        display: flex;
        flex-direction: row;
        flex-flow: row wrap;
        justify-content: center;
        padding: 10px;
    }
    p.sansserif {
        font-family: "Open Serif", Helvetica, sans-serif;
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
    }
    li {
      float: right;
    }
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 20px;
      text-decoration: none;
      font-family: "Open Serif", "Arial", sans-serif;
    }
    li a:hover {
      background-color: #111;
    }
    li a.noHover{
      pointer-events: none;
    }
    </style>

<body>
    <ul>
        <li style="float:left"><a>DESI Survey QA Night {{ night }}</a></li>
        <li><a id="last">Last</a></li>
        <li><a id="next">Next</a></li>
        <li><a id="prev">Previous</a></li>
        <li><a id="first">First</a></li>
        <li><a href={{ summary_str }}>Summary Page</a></li>
    </ul>
    
    <script>
        function get_linking_json_dict(dict) {
            document.getElementById("last").href = dict.last;
            document.getElementById("first").href = dict.first;
            var next_prev = dict.n"""+night+""";
            var next_item = next_prev.next;
            if (next_item=="none") {
                document.getElementById("next").className = "noHover";
            } else {
                document.getElementById("next").href = next_prev.next;
            }
            var prev_item = next_prev.prev;
            if (prev_item=="none") {
                document.getElementById("prev").className = "noHover";
            } else {
                document.getElementById("prev").href = next_prev.prev;
            }
        }
    </script>
    
    <script src="linking.js"></script>
    
    <div class="flex-container">
        <div class="column middle">
            
            <div class="flex-container">
                <div>{{ timeseries_script }} {{ timeseries_div }}</div>
                <div>{{ overlaidhists_script }} {{ overlaidhists_div }}</div>
            </div>
        
            <div class="flex-container">{{ table_script }}{{ table_div }}</div>
        </div>
    </div>
    
{% endblock %}