<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="static/bootstrap.css">
    <script src="static/jquery_min.js"></script>
    <script src="static/popper_min.js"></script>
    <script src="static/bootstrap.js"></script>
    <link rel="stylesheet" href="static/bootstrap-year-calendar.css">
    <script src="static/bootstrap-year-calendar.js"></script>

    </head>
<body>
{# Each plot is wrapped in if/endif for robustness against missing plots #}

<div id="titlebar">
  <center><font size="6" text_align="center">DESI Nightwatch</font></center>
</div>

<div class="container">
    <div class="calendar"></div>
</div>

{#
<div class="container">
    <a href="timeseries">timeseries plots</a>
</div>
#}

<style>
#titlebar {
    padding: 6px;
    color: gold;
    background-color: #333;
}
</style>

<script>
$(function() {

    var list = {};
    {% for night in nights %}
        list[(new Date({{night["year"]}}, {{night["month"]}}, {{night["day"]}}))] = 1;
    {% endfor %}

    $('.calendar').calendar({
        mouseOnDay: function(e) {
            if(e.events.length > 0) {
            var content = '';
                if(e.events[0].numexp == "1") {
                content += '<div class="event-tooltip-content">'
                              + '<div class="event-name" >' + e.events[0].numexp +' exposure</div>'
                          + '</div>';
                } else {
                content += '<div class="event-tooltip-content">'
                              + '<div class="event-name" >' + e.events[0].numexp +' exposures</div>'
                          + '</div>';
}

          $(e.element).popover({
              trigger: 'manual',
              container: 'body',
              html:true,
              content: content
          });

          $(e.element).popover('show');
      }
  },
  mouseOutDay: function(e) {
      if(e.events.length > 0) {
          $(e.element).popover('hide');
      }
  },
        customDayRenderer: function(element, date) {
        if (date in list) {
            $(element).css('background-color', 'blue');
            $(element).css('color', 'white');
            $(element).css('border-radius', '10px');
            $(element).css('opacity', '0.6');
        }
        },
        dataSource: [
        {% for night in nights %}
            {
            id : {{loop.index}},
            name : "{{night['name']}}/exposures.html",
            numexp : "{{night['numexp']}}",
            startDate : new Date({{night["year"]}}, {{night["month"]}}, {{night["day"]}}),
            endDate : new Date({{night["year"]}}, {{night["month"]}}, {{night["day"]}}),
            color : 'white'
            },
        {% endfor %}
        ],
        clickDay: function(e) {
        if(e.events.length > 0) {
        window.open(e.events[0].name);
        }
        },
    });
});
</script>
</body>
</html>
