{% extends "qabase.html" %}
{% block body %}

<style>
label {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: right;
  width: 400px;
  line-height: 26px;
  margin-bottom: 10px;
}

input {
  height: 20px;
  flex: 0 0 200px;
  margin-left: 10px;
}

table {
  border-collapse: collapse;
}

.container{
  display: flex;
}
.flex-item{
  flex-grow: 1;
}
</style>

{% if not current %}
<header>
  Preprocessed CCD Images
</header>
{% endif %}

<div class="container">

  {# Preprocessed CCD Image #}
  {% if current %}
  <div class=flex-item>
    <div>{{ plot_script | safe }} {{plot_div | safe }}</div>
  </div>
  {% endif %}

  {% if composite %}
  <div class="flex-container">
    <div>{{ bscript | safe }} {{bdiv | safe }}</div>
    <div>{{ rscript | safe }} {{rdiv | safe }}</div>
    <div>{{ zscript | safe }} {{zdiv | safe }}</div>
  </div>
  {% endif %}

  {# Table of links to different CCD images #}
  <div class=flex-item style="padding-right:10px">
  <br>
  <table border="1" cellpadding="8">
    <tr>
    {% for i in ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9"] %}
      {% for c in ["b", "r", "z"] %}
        <td {% if c + i == current %} bgcolor="#6495ed" {% endif %}>
          {% if (c+i != current) and (c+i in available) %}
            <a href="preproc-{{c}}{{i}}-{{zexpid}}-{{downsample}}x.html">
          {% endif %}
          {% if not current %}
            <font size="5pt">
          {% endif %}
          <text {% if c + i in available %} style="font-weight:bold" {% endif %}>{{c}}{{i}}<text>
          {% if not current %}
            </font>
          {% endif %}
          {% if (c+i != current) and (c+i in available) %}
            </a>
          {% endif %}
        </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
  <br>


{% if current and downsample and not composite %}
<div>Downsample: <input style="width: 2.5em" type="number" min=1 max=20 id="down" value={{downsample}}></div>
<button onclick='
    var url = "{{basename}}-" + document.getElementById("down").value + "x.html"
    window.open(url, "_top")
    '>Generate</button>
{% endif %}
  </div>
</div>
{% endblock %}
