{% extends "qabase.html" %}

{% block body %}

{# Each plot is wrapped in if/endif for robustness against missing plots #}

<p> {{ summarytext }} </p>

<div class="flex-container">

{% if READNOISE %}
    <div>{{ READNOISE.script | safe }} {{ READNOISE.div | safe }}</div>
{% endif %}

{% if RAWFLUX %}
    <div>{{ RAWFLUX.script | safe }} {{ RAWFLUX.div | safe }}</div>
{% endif %}

{% if CALIBFLUX %}
    <div>{{ CALIBFLUX.script | safe }} {{ CALIBFLUX.div | safe }}</div>
{% endif %}

{% if FRACTIONALRESIDUAL %}
    <div>{{ FRACTIONALRESIDUAL.script | safe }} {{ FRACTIONALRESIDUAL.div | safe }}</div>
{% endif %}

{% if MEDIANFLUX %}
    <div>{{ MEDIANFLUX.script | safe }} {{ MEDIANFLUX.div | safe }}</div>
{% endif %}

{% if SPECTRA %}
    <div>{{ SPECTRA.script | safe }} {{ SPECTRA.div | safe }}</div>
{% endif %}

</div>

{% endblock %}
