{% extends "base.html" %}

{% block body %}

<style>
    body {
        margin: 0;
    }
    
    .column {
        float: center;
    }
    .column.side {
        width = 10%;
    }
    .column.middle {
        width = 80%;
    }
    .flex-container {
        display: flex;
        flex-direction: row;
        flex-flow: row wrap;
        justify-content: flex-start;
        padding: 10px;
        align-items: flex-end;
    }
</style>

<div class="flex-container">
    <div class="column side"></div>
    <div class="column middle">
        
        <ul class="titlebar">
           <li><a>DESI SurveyQA through {{ last_night }}</a></li>
        </ul>
        
        <ul class="navigationbar">
          <li style="float:left"><a id="nights" href = "../nights.html">calendar</a></li>
        </ul>
            
        <div class="flex-container">
            <div>{{ skyplot_script | safe }} {{ skyplot_div | safe }}</div>
        </div>
            
        <ul class="titlebar">
            <li><a>Observing Conditions</a></li>
        </ul>
            
        <div class="flex-container">
            <div>{{ airmass_script | safe }} {{ airmass_div | safe }}</div>
            <div>{{ seeing_script | safe }} {{ seeing_div | safe }}</div>
            <div>{{ transp_hist_script | safe }} {{ transp_hist_div | safe }}</div>
            <div>{{ exposePerTile_hist_script | safe }} {{ exposePerTile_hist_div | safe }}</div>
            <div>{{ brightness_script | safe }} {{ brightness_div | safe }}</div>
            <div>{{ exptime_script | safe }} {{ exptime_div | safe }}</div>
        </div>
                
         <ul class="titlebar">
            <li><a>Summary Table</a></li>
        </ul>
                
        <div class="flex-container">
            {{ summarytable_script | safe }}
            {{ summarytable_div | safe }}
        </div>
            
    </div>
    <div class="column side"></div>
</div>
{% endblock %}