{% extends "base.html" %}

{% block navigation %}

<ul class="navigationbar">
  <li style="float:left"><a id="nights" href = "../nights.html">nights</a></li>
  <li style="float:left"><a>Timeseries Generator</a></li>
</ul>

{% endblock %}

{% block body %}
<br>
<script src="../../../../cal_files/jquery_min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
  $( function() {
    $( "#start" ).datepicker({ dateFormat: 'yymmdd' });
    $( "#end" ).datepicker({ dateFormat: 'yymmdd' });
  } );
</script>
<style>
label {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: right;
  width: 400px;
  line-height: 26px;
  margin-bottom: 10px;
}

input {
  height: 20px;
  flex: 0 0 200px;
  margin-left: 10px;
}
</style>

<label>start date: <input type="number" id = "start"></label>
<label>end date: <input type="number" id = "end"></label>
<label>hdu:
<select id = "hdu" onchange="changed(this.value)">
  {% for hdu_ in dropdown_hdu %}
  <option value={{hdu_}}>{{hdu_}}</option>
  {% endfor %}
</select>
</label>
<label>data column:
<select id = "attribute">
  {% for hdu_ in dropdown_hdu %}
  {% if loop.index == 1%}
  <option value={{dropdown_hdu[hdu_][0]}}>{{dropdown_hdu[hdu_][0]}}</option>
  {% endif %}
  {% endfor %}
</select>
</label>
<button onclick='
  var url = document.getElementById("start").value + "/" + document.getElementById("end").value + "/" +  document.getElementById("hdu").value + "/" +  document.getElementById("attribute").value

  window.open(url, "_top")
'>Generate Timeseries</button>

<script>
function changed(new_val) {
  {% for hdu_ in dropdown_hdu %}
  if(new_val == '{{hdu_}}') {
    $('#attribute').empty();
    {% for attr_ in dropdown_hdu[hdu_] %}
    $('#attribute').append($('<option></option>').attr('value', '{{attr_}}').text('{{attr_}}'));
    {% endfor %}
  }
  {% endfor %}
}
</script>

{% endblock %}
